import style from "./style.module.scss";
import type { {{pascalCase name}}Props } from "./types";

function {{pascalCase name}}({ prop = "{{pascalCase name}}" }: {{pascalCase name}}Props) {
  return (
    <div className={ style.{{pascalCase name}} }>
      <h1>{prop}</h1>
    </div>
  );
}

export default {{pascalCase name}};
