import style from "./style.module.scss";
import type { {{pascalCase componentName}}Props } from "./types";

function {{pascalCase componentName}}({ prop = "{{pascalCase componentName}}" }: {{pascalCase componentName}}Props) {
  return (
    <div className={ style.{{pascalCase componentName}} }>
      <h1>{prop}</h1>
    </div>
  );
}

export default {{pascalCase componentName}};
