import style from "./style.module.scss";
import type { {{componentName}}Props } from "./types";

function {{componentName}}({ prop = "{{componentName}}" }: {{componentName}}Props) {
  return (
    <div className={ style.{{componentName}} }>
      <h1>{prop}</h1>
    </div>
  );
}

export default {{componentName}};
